[
    {
        "id": 1,
        "nama": "Dea Alvina Putri",
        "nik": "-",
        "gender": "P",
        "provinsi": "Jawa Tengah",
        "kota": "Brebes",
        "kecamatan": "Bulakamba",
        "kelurahan": "dukuhlo",
        "rt": "01",
        "rw": "08",
        "posyandu": "Mawar",
        "usia": 5,
        "tgl_ukur": "2025-06-01",
        "bbu": "Severely Underweight",
        "tbu": "Severely Stunted",
        "bbtb": "Severely Wasted",
        "bb": 4.6,
        "tb": 55,
        "bb_naik": true,
        "intervensi": "PMT",
        "tmpt_dilahirkan": "Semarang",
        "tgl_lahir": "2025-01-01",
        "bb_lahir": 3,
        "pb_lahir": 48,
        "persalinan": "Normal",
        "nama_ayah": "Soleh",
        "nama_ibu": "Nur faizah",
        "pekerjaan_ayah": "Wiraswasta",
        "pekerjaan_ibu": "Ibu rumah tangga",
        "usia_ayah": 32,
        "usia_ibu": 25,
        "anak_ke": 2,
        "kader_pendamping": "Marwiyah",
        "tgl_pendampingan": "2025-06-06",
        "raw": {
            "kelahiran": [
                {
                    "tmpt_dilahirkan": "Semarang",
                    "tgl_lahir": "2025-01-01",
                    "bb_lahir": 3,
                    "pb_lahir": 48,
                    "persalinan": "Normal",
                    "riwayat_penyakit": false
                }
            ],
            "keluarga": [
                {
                    "no_kk": null,
                    "nik_ayah": null,
                    "nama_ayah": "Soleh",
                    "pekerjaan_ayah": "Wiraswasta",
                    "usia_ayah": 32,
                    "nik_ibu": "3329146407960001",
                    "nama_ibu": "Nur faizah",
                    "pekerjaan_ibu": "Ibu rumah tangga",
                    "usia_ibu": 25,
                    "anak_ke": 2,
                    "riwayat_4t": "BUKAN 4T",
                    "penggunaan_kb": false,
                    "jns_kb": null,
                    "asi_esklusif": true,
                    "imunisasi_lengkap": false,
                    "diasuh_oleh": "ayah/ibu",
                    "rutin_posyandu": true,
                    "riwayat_penyakit": false,
                    "asap_rokok": true,
                    "jamban_bersih": true,
                    "sumber_air_bersih": true,
                    "rujuk": false,
                    "jaminan_kesehatan": false,
                    "edukasi": false
                }
            ],
            "pendampingan": [
                {
                    "tanggal": "2025-04-03",
                    "kader": "Marwiyah",
                    "bb": 4.3,
                    "tb": 54.3
                },
                {
                    "tanggal": "2025-05-02",
                    "kader": "Marwiyah",
                    "bb": 4.5,
                    "tb": 54.5
                },
                {
                    "tanggal": "2025-06-06",
                    "kader": "Marwiyah",
                    "bb": 4.6,
                    "tb": 55
                }
            ],
            "posyandu": [
                {
                    "tgl_ukur": "2025-02-01",
                    "posyandu": "Mawar",
                    "puskesmas": "Kluwut",
                    "cara_ukur": "Terlentang",
                    "usia": 1,
                    "bb": 4.1,
                    "tb": 54.1,
                    "bbu": "Normal",
                    "tbu": "Normal",
                    "bbtb": "Normal",
                    "lila": 12,
                    "lika": 36,
                    "bb_naik": true
                },
                {
                    "tgl_ukur": "2025-03-01",
                    "posyandu": "Mawar",
                    "puskesmas": "Kluwut",
                    "cara_ukur": "Terlentang",
                    "usia": 2,
                    "bb": 4.3,
                    "tb": 54.3,
                    "bbu": "Normal",
                    "tbu": "Normal",
                    "bbtb": "Normal",
                    "lila": 15,
                    "lika": 38,
                    "bb_naik": true
                },
                {
                    "tgl_ukur": "2025-04-01",
                    "posyandu": "Mawar",
                    "puskesmas": "Kluwut",
                    "cara_ukur": "Terlentang",
                    "usia": 3,
                    "bb": 4.3,
                    "tb": 54.3,
                    "bbu": "Underweight",
                    "tbu": "Stunted",
                    "bbtb": "Normal",
                    "lila": 16,
                    "lika": 39,
                    "bb_naik": false
                },
                {
                    "tgl_ukur": "2025-05-01",
                    "posyandu": "Mawar",
                    "puskesmas": "Kluwut",
                    "cara_ukur": "Terlentang",
                    "usia": 4,
                    "bb": 4.5,
                    "tb": 54.5,
                    "bbu": "Severely Underweight",
                    "tbu": "Severely Stunted",
                    "bbtb": "Severely Wasted",
                    "lila": 16,
                    "lika": 39,
                    "bb_naik": true
                },
                {
                    "tgl_ukur": "2025-06-01",
                    "posyandu": "Mawar",
                    "puskesmas": "Kluwut",
                    "cara_ukur": "Terlentang",
                    "usia": 5,
                    "bb": 4.6,
                    "tb": 55,
                    "bbu": "Severely Underweight",
                    "tbu": "Severely Stunted",
                    "bbtb": "Severely Wasted",
                    "lila": 16,
                    "lika": 39,
                    "bb_naik": true
                }
            ],
            "intervensi": [
                {
                    "tanggal": "2025-04-03",
                    "kader": "Marwiyah",
                    "jenis": "PMT"
                },
                {
                    "tanggal": "2025-05-02",
                    "kader": "Marwiyah",
                    "jenis": "PMT"
                },
                {
                    "tanggal": "2025-06-06",
                    "kader": "Marwiyah",
                    "jenis": "PMT"
                }
            ]
        }
    },
  ]